<div class="row">
    <div class="col-xs-12">
      <p>Add new server on blueprint </p>
      <label> server Name </label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label> server Content </label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button class="btb btn-primary" (click)="onAddServer()">Add Server</button>

      <button class="btb btn-primary" (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>
</div>  